.main
    max-width: 100%
    height: 100%
    margin: 0
    padding: 0
    background-color: rgb(52, 53, 57)
    h1
        color: white
    .red_circle
        border-radius: 50%
        background-color: #EF483E
    .route
        .route_title
            color: white
            display: flex
            align-items: center
            justify-content: flex-start
        .route_forms
            display: flex
            flex-direction: column
            .route_forms__from, .route_forms__to
                color: white
                display: flex
                flex-direction: column
            .route_forms__notification
                background-color: #4B4B4F
                color: white
    .transport
        .transport_title
            color: white
            display: flex
            align-items: center
            justify-content: flex-start
            .transport_title__number
                height: auto
        .transport_forms
            display: flex
            justify-content: space-between
            .transport_forms__heavy, .transport_forms__way
                color: white
                display: flex
                flex-direction: column
            .transport_forms__heavy
                list-style: none
                overflow: visible
            .transport_forms__heavy:first-child 
                border-color: transparent
            .transport_forms__heavy.closed_dropdown 
                overflow: hidden
            li 
                height: 100%
                background-color: white
                border-top: 1px solid black
            li a 
                text-decoration: none
                color: black
            .transport_forms__heavy li:first-child a:after,
            .transport_forms__way li:first-child a:after 
                content: url("arrow-204-16.png")
                background-size: cover
                background-position: center
                float: right
            .transport_forms__heavy.closed_dropdown
                overflow: hidden
            .nav_btn
                color: rgb(0, 0, 0, 0.3)
            .transport_forms__way
                list-style: none
                li
                    height: 100%
                    background-color: white
    .goods
        .goods_title
            color: white
            display: flex
            align-items: center
            justify-content: flex-start
            .goods_title__number
                height: auto
        .goods_firstdropdown 
            color: white
            display: flex
            flex-direction: column
            list-style: none
            li
                height: 100%
                background-color: white
            li a 
                text-decoration: none
                color: black
        .goods_firstdropdown li:first-child a:after 
                content: url("arrow-204-16.png")
                background-size: cover
                background-position: center
                float: right
        .goods_dropdowns
            .goods_dropdowns__danger, .goods_dropdowns__value
                color: white
                display: flex
                flex-direction: column
            .goods_dropdowns__danger
                list-style: none
                li
                    height: 100%
                    background-color: white
                li a 
                    text-decoration: none
                    color: black
            .goods_dropdowns__danger li:first-child a:after 
                content: url("arrow-204-16.png")
                background-size: cover
                background-position: center
                float: right
        .goods_radio
            margin: 1% auto
            width: 90%
            color: white
            .goods_radio__input
                position: absolute
                opacity: 0
                cursor: pointer
                height: 0
                width: 0
                outline: block
            .goods_radio__checkmarks
                position: absolute
                background-color: transparent
                border: 1px solid white
            .goods_radio__input:checked ~ .goods_radio__checkmarks
                background-color: #EF483E
            .goods_radio__checkmarks:after  
                content: url('checkmark-16-2.png')
                position: absolute
                display: none
            .goods_radio__input:checked ~ .goods_radio__checkmarks:after
                display: block
        .goods_temperature
            .goods_temperature__from, .goods_temperature__to
                color: white
                display: flex
                flex-direction: column
    .time
        .time_title
            color: white
            display: flex
            align-items: center
            justify-content: flex-start
            .time_title__number
                height: auto
        .time_addresses
            .time_addresses__titles
                display: flex
                color: white
            .active
                background-color: rgb(221, 85, 71)
            .time_addresses__address
                display: flex
                background-color: #4B4B4F
                color: white
                .time_addresses__address_circles
                    width: 10%
                .active_btn
                    opacity: 1
                button
                    opacity: 0.4
                    background-color: #717174
                    border-color: transparent
                    color: white
        .time_comment
            color: white
    .notification2
        background-color: #4B4B4F
        color: white   

@media screen and (max-width: 412px)
    .main
        h1
            font-size: 36px
            margin: 5% 6% 0 6%
        .red_circle
            margin: 0 3% 0 5%
            width: 7%
        .route
            .route_title
                font-size: 18px
                .route_title__number
                    text-align: center
                    height: 4% 
            .route_forms
                width: 90%
                margin-left: 5%
                .route_forms__from, .route_forms__to
                    font-size: 14px 
                .route_forms__from input, .route_forms__to input
                    height: 2.5rem 
                    margin: 1% 0 3% 0 
                .route_forms__notification
                    display: none 
        .transport
            .transport_title
                font-size: 18px
                .transport_title__number
                    text-align: center
                    height: 4% 
            .transport_forms
                width: 90%
                margin: 0 auto
                .transport_forms__heavy, .transport_forms__way 
                    width: 48%
                    font-size: 14px
                .transport_forms__heavy, .transport_forms__way
                    height: auto
                    margin: 0
                    padding-left: 0
                    li 
                        font-size: 14px
                        padding: 6%
                    .transport_forms__heavy li:first-child a:after,
                    .transport_forms__way li:first-child a:after 
                        width: 16px
                        height: 16px
                .transport_forms__heavy.closed_dropdown 
                    height: calc(14px + 2.5rem)
                .transport_forms__way
                    margin-top: 0
                    height: calc(14px + 12%)
                    li
                        font-size: 14px
                        padding: 6% 
        .goods
            .goods_title
                font-size: 18px
                .goods_title__number
                    text-align: center
                    height: 4% 
            .goods_firstdropdown 
                width: 43%
                float: left
                font-size: 14px
                height: calc(14px + 12%)
                margin-bottom: 3%
                margin-left: 5%
                padding-left: 0
                li 
                    font-size: 14px
                    padding: 6%
            .goods_firstdropdown li:first-child a:after 
                width: 16px
                height: 16px
            ::placeholder
                color: rgb(0, 0, 0, 0.3)
            .goods_dropdowns
                width: 43%
                margin-left: 51%
                margin-top: 4%
                margin-bottom: 3%
                .goods_dropdowns__danger
                    display: none
                .goods_dropdowns__value
                    font-size: 12px
                    width: 100%
                .goods_dropdowns__value input
                    height: 1.9rem 
                    margin: 1% 0 2% 0 
                ::placeholder
                    color: rgb(0, 0, 0, 0.3)
                    font-size: 14px
            .goods_radio
                width: 90%
                float: left
                height: calc(14px + 7%)
                font-size: 14px
                margin: 2% auto
                margin-bottom: 5%
                .goods_radio__descr
                    margin-left: 15%
                .goods_radio__checkmarks
                    float: left
                    margin-left: 5%
                    margin-top: 3%
                    width: 6%
                    height: 4%
                .goods_radio__checkmarks:after
                    width: 5%
                    height: 5%
                    top: 6%
                    left: 3%
            .goods_temperature
                display: flex
                justify-content: space-between
                width: 90%
                margin: 0 auto
                .goods_temperature__from, .goods_temperature__to
                    font-size: 14px
                    width: 48%
                .goods_temperature__from input,.goods_temperature__to input
                    height: 2.5rem 
                    margin: 1% 0 3% 0  
                ::placeholder
                    color: black
                    font-size: 14px       
        .time
            .time_title
                font-size: 18px
                .time_title__number
                    text-align: center
                    height: 4%
            .time_addresses
                .time_addresses__titles
                    font-size: 16px
                    width: 90%
                    margin-left: 5%
                    justify-content: space-between 
                .time_addresses__address
                    align-items: center
                    justify-content: space-between
                    width: 90%
                    margin: 2% auto
                    height: 2.5rem
                    margin-bottom: 1% 
                    .time_addresses__address_circles
                        width: 8%
                        height: 40%
                        margin-left: 3%
                    span
                        margin-left: 3%
                        width: 50%
                        font-size: 12px
                    button
                        height: 60%
                        width: 25%
                        font-size: 8px
                        margin-right: 3%
            .time_comment
                width: 90%
                margin: 0 auto
                margin-bottom: 5%
                #comment_p
                    font-size: 20px
                textarea
                    width: 90%
                    height: 5rem
                    color: rgb(0, 0, 0, 0.3)
                    padding: 5%
                    font-size: 14px
        .notification2
            width: 84%
            margin: 0 auto
            padding: 3%
            font-size: 14px
            margin-bottom: 3%  

@media screen and (min-width: 414px) 
    .main
        h1
            font-size: 42px
            margin: 5% 6% 0 6%
        .red_circle
            margin: 0 3% 0 5%
            width: 7%
        .route
            .route_title
                font-size: 22px
                .route_title__number
                    text-align: center
                    height: 6% 
            .route_forms
                width: 90%
                margin-left: 5%
                .route_forms__from, .route_forms__to
                    font-size: 20px 
                .route_forms__from input, .route_forms__to input
                    height: 2.5rem 
                    margin: 1% 0 3% 0 
                .route_forms__notification
                    display: none 
        .transport
            .transport_title
                font-size: 22px
                .transport_title__number
                    text-align: center
                    height: 6% 
            .transport_forms
                width: 90%
                margin: 0 auto
                .transport_forms__heavy, .transport_forms__way 
                    width: 48%
                    font-size: 20px
                .transport_forms__heavy
                    height: auto
                    margin: 0 
                    padding-left: 0
                    li 
                        font-size: 20px
                        padding: 7%
                    .transport_forms__heavy li:first-child a:after,
                    .transport_forms__way li:first-child a:after 
                        width: 20px
                        height: 20px
                .transport_forms__heavy.closed_dropdown 
                    height: calc(22px + 3rem) 
                .transport_forms__way
                    margin-top: 0
                    height: calc(22px + 12%)
                    li
                        font-size: 22px
                        padding: 6% 
        .goods
            .goods_title
                font-size: 22px
                .goods_title__number
                    text-align: center
                    height: 6% 
            .goods_firstdropdown 
                width: 43%
                font-size: 20px
                height: calc(20px + 6%)
                margin-left: 5%
                margin-bottom: 2%
                padding-left: 0
                li 
                    font-size: 20px
                    padding: 6%
            .goods_firstdropdown li:first-child a:after 
                width: 18px
                height: 18px 
            .goods_dropdowns
                width: 43%
                margin-left: 52%
                margin-top: -18%
                .goods_dropdowns__danger
                    display: none
                .goods_dropdowns__value
                    font-size: 16px
                    width: 100%
                .goods_dropdowns__value input
                    height: 2.5rem 
                    margin: 1% 0 3% 0 
            .goods_radio
                font-size: 20px
                margin-bottom: 5%
                .goods_radio__descr
                    margin-left: 15%
                .goods_radio__checkmarks
                    margin-left: 5%
                    margin-top: 5%
                    width: 5%
                    height: 4%
                .goods_radio__checkmarks:after
                    width: 5%
                    height: 5%
                    top: 3%
                    left: 5%
            .goods_temperature
                display: flex
                justify-content: space-between
                width: 90%
                margin: 0 auto
                .goods_temperature__from, .goods_temperature__to
                    font-size: 20px
                    width: 48%
                .goods_temperature__from input,.goods_temperature__to input
                    height: 2.5rem 
                    margin: 1% 0 3% 0         
        .time
            .time_title
                font-size: 22px
                .time_title__number
                    text-align: center
                    height: 6%
            .time_addresses
                .time_addresses__titles
                    font-size: 18px
                    width: 90%
                    margin-left: 5%
                    justify-content: space-between 
                .time_addresses__address
                    align-items: center
                    justify-content: space-between
                    width: 90%
                    margin: 2% auto
                    height: 2.5rem
                    margin-bottom: 1% 
                    .time_addresses__address_circles
                        width: 6%
                        height: 40%
                        margin-left: 3%
                    span
                        margin-left: -2%
                        width: 50%
                        font-size: 12px
                    button
                        height: 60%
                        width: 25%
                        font-size: 10px
                        margin-right: 3%
            .time_comment
                width: 90%
                margin: 0 auto
                margin-bottom: 5%
                #comment_p
                    font-size: 20px
                textarea
                    width: 90%
                    height: 5rem
                    color: rgb(0, 0, 0, 0.3)
                    padding: 5%
                    font-size: 14px
        .notification2
            width: 84%
            margin: 0 auto
            padding: 3%
            font-size: 14px
            margin-bottom: 3% 

@media screen and (min-width: 768px)
    .main
        width: 100%
        h1
            font-size: 56px 
            margin-left: 6%
        .red_circle
            margin: 0 3% 0 5%
            width: 4%
        .route
            .route_title
                font-size: 28px
                .route_title__number
                    text-align: center
                    height: 8% 
            .route_forms
                width: 100%
                margin-left: 5%
                .route_forms__from, .route_forms__to
                    font-size: 17px 
                    width: 50%
                .route_forms__from input, .route_forms__to input
                    height: 3rem 
                    margin: 1% 0 3% 0 
                .route_forms__notification
                    display: flex
                    margin-left: 51%
                    margin-top: -14rem
                    width: 40% 
                    padding: 2%
                    font-size: 19px
                    margin-bottom: 12%
        .transport
            .transport_title
                font-size: 28px
                .transport_title__number
                    text-align: center
                    height: 8% 
            .transport_forms
                width: 50%
                float: left
                margin-left: 5%
                .transport_forms__heavy, .transport_forms__way 
                    width: 49%
                    font-size: 17px
                .transport_forms__heavy
                    height: auto
                    margin-bottom: 3% 
                    padding-left: 0
                    li 
                        font-size: 17px
                        padding: 8%
                    .transport_forms__heavy li:first-child a:after,
                    .transport_forms__way li:first-child a:after 
                        width: 22px
                        height: 22px
                .transport_forms__heavy.closed_dropdown 
                    height: calc(19px + 3rem) 
                .transport_forms__way
                    margin-top: 0
                    height: calc(17px + 16%)
                    li
                        font-size: 17px
                        padding: 8%   
        .goods
            .goods_title
                width: 100%
                font-size: 28px
                .goods_title__number
                    text-align: center
                    height: 8% 
            .goods_firstdropdown 
                width: 50%
                margin-left: 5%
                margin-top: 0
                font-size: 17px
                height: calc(17px + 6%)
                padding-left: 0
                li 
                    font-size: 17px
                    padding: 3%
            .goods_firstdropdown li:first-child a:after 
                width: 20px
                height: 20px 
            .goods_dropdowns
                width: 50%
                margin-left: 5%
                margin-top: 0
                display: flex
                justify-content: space-between
                .goods_dropdowns__danger, .goods_dropdowns__value
                    display: flex
                    justify-content: baseline
                    font-size: 17px
                    width: 49%
                .goods_dropdowns__danger
                    height: calc(17px + 12%)
                    margin-top: 1%
                    margin-bottom: 2%
                    padding-left: 0
                    li 
                        font-size: 17px
                        padding: 6%
                .goods_dropdowns__danger li:first-child a:after 
                    width: 20px
                    height: 20px 
                .gradient
                    color: rgb(0, 0, 0, 0.4)
                .goods_dropdowns__value input
                    height: 3rem 
                    margin: 1% 0 3% 0 
            .goods_radio
                font-size: 20px
                margin-bottom: 5%
                .goods_radio__descr
                    margin-left: 12%
                .goods_radio__checkmarks
                    margin-left: 5%
                    margin-top: 2%
                    width: 4%
                    height: 3%
                .goods_radio__checkmarks:after
                    width: 6%
                    height: 6%
                    top: 16%
                    left: 24%
            .goods_temperature
                display: none        
        .time
            .time_title
                font-size: 28px
                .time_title__number
                    text-align: center
                    height: 8%
            .time_addresses
                .time_addresses__titles
                    font-size: 18px
                    width: 50%
                    margin-left: 5%
                    justify-content: space-between 
                .time_addresses__address
                    align-items: center
                    justify-content: space-between
                    width: 50%
                    margin: 2% 0 1% 5%
                    height: 3rem
                    .time_addresses__address_circles
                        width: 8%
                        height: 40%
                        margin-left: 3%
                    span
                        margin-left: -5%
                        width: 50%
                        font-size: 13px
                    button
                        height: 60%
                        width: 20%
                        font-size: 12px
                        margin-right: 3%
            .time_comment
                width: 51%
                margin-left: 5%
                margin-bottom: 5%
                #comment_p
                    font-size: 23px
                    margin-bottom: 2%
                textarea
                    width: 90%
                    height: 6rem
                    color: rgb(0, 0, 0, 0.3)
                    padding: 3%
                    font-size: 14px
        .notification2
            display: none

@media screen and (min-width: 1200px)
    .main
        width: 100%
        h1
            font-size: 52px 
            margin-left: 6%
        .red_circle
            margin: 0 2% 0 5%
            width: 2%
        .route
            .route_title
                font-size: 24px
                .route_title__number
                    text-align: center
                    height: 8% 
            .route_forms
                width: 100%
                margin-left: 5%
                .route_forms__from, .route_forms__to
                    font-size: 22px 
                    width: 50%
                .route_forms__from input, .route_forms__to input
                    height: 3rem 
                    margin: 1% 0 3% 0 
                .route_forms__notification
                    display: flex
                    margin-left: 51%
                    margin-top: -15rem
                    width: 40% 
                    padding: 2%
                    font-size: 19px
                    margin-bottom: 12%
        .transport
            .transport_title
                font-size: 24px
                .transport_title__number
                    text-align: center
                    height: 8% 
            .transport_forms
                width: 50%
                float: left
                margin-left: 5%
                .transport_forms__heavy, .transport_forms__way 
                    width: 49%
                    font-size: 22px
                .transport_forms__heavy
                    height: auto 
                    margin: -1% 0 3% 0
                    padding-left: 0
                    li 
                        font-size: 22px
                        padding: 6%
                    .transport_forms__heavy li:first-child a:after,
                    .transport_forms__way li:first-child a:after 
                        width: 24px
                        height: 24px
                .transport_forms__heavy.closed_dropdown
                    height: calc(28px + 4rem)
                .transport_forms__way
                    margin-top: -1%
                    height: calc(22px + 12%)
                    li
                        font-size: 22px
                        padding: 6% 
        .goods
            .goods_title
                width: 100%
                font-size: 24px
                .goods_title__number
                    text-align: center
                    height: 8% 
            .goods_firstdropdown 
                width: 50%
                margin-left: 5%
                font-size: 22px
                height: calc(22px + 6%)
                margin-bottom: 2%
                padding-left: 0
                li 
                    font-size: 22px
                    padding: 3%
            .goods_firstdropdown li:first-child a:after 
                width: 22px
                height: 22px
            .goods_dropdowns
                width: 50%
                margin-left: 5%
                display: flex
                justify-content: space-between
                .goods_dropdowns__danger, .goods_dropdowns__value
                    display: flex
                    font-size: 22px
                    width: 49%
                .goods_dropdowns__danger
                    height: calc(20px + 6%)
                    margin-top: 1%
                    margin-bottom: 2%
                    padding-left: 0
                    li 
                        font-size: 24px
                        padding: 4%
                .goods_dropdowns__danger li:first-child a:after 
                    width: 22px
                    height: 22px 
                .goods_dropdowns__value input
                    height: 3.1rem 
                    margin: 1% 0 3% 0 
            .goods_radio
                font-size: 24px
                margin-bottom: 5%
                .goods_radio__descr
                    margin-left: 10%
                .goods_radio__checkmarks
                    margin-left: 5%
                    margin-top: 1%
                    width: 3%
                    height: 4%
                .goods_radio__checkmarks:after
                    width: 6%
                    height: 6%
                    top: 16%
                    left: 28%
            .goods_temperature
                display: none        
        .time
            .time_title
                font-size: 24px
                .time_title__number
                    text-align: center
                    height: 8%
            .time_addresses
                .time_addresses__titles
                    font-size: 18px
                    width: 50%
                    margin-left: 5%
                    justify-content: space-between 
                .time_addresses__address
                    align-items: center
                    justify-content: space-between
                    width: 50%
                    margin: 2% 0 1% 5%
                    height: 3rem
                    .time_addresses__address_circles
                        width: 5%
                        height: 50%
                        margin-left: 3%
                    span
                        margin-left: -1%
                        width: 60%
                        font-size: 18px
                    button
                        height: 60%
                        width: 20%
                        font-size: 14px
                        margin-right: 3%
            .time_comment
                width: 51%
                margin-left: 5%
                margin-bottom: 5%
                #comment_p
                    font-size: 23px
                    margin-bottom: 2%
                textarea
                    width: 90%
                    height: 6rem
                    color: rgb(0, 0, 0, 0.3)
                    padding: 3%
                    font-size: 16px
        .notification2
            display: none
                 